<!DOCTYPE html>
<html lang="en">

<head>
    <title>Vaishnavi Gujjari</title>
    <meta charset="UTF-8">
    <meta name="description" content="Civic - CV Resume">
    <meta name="keywords" content="resume, civic, onepage, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link href="../static/img/favicon.ico" rel="shortcut icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i,700" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/css/flaticon.css" />
    <link rel="stylesheet" href="../static/css/owl.carousel.css" />
    <link rel="stylesheet" href="../static/css/magnific-popup.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" />

</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header section start -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="site-logo">
                        <h2><a href="#">3+ years of experience</a></h2>
                        <!-- <p>Enhance your online presence</p> -->
                    </div>
                </div>
                <div class="col-md-8 text-md-right header-buttons">
                    <a href="../static/file/Vaishnavi D Gujjari.pdf" download="../static/file/Vaishnavi D Gujjari.pdf" class="site-btn">Download CV</a>
                    <a href="#contact" class="site-btn">Contact Me</a>
                </div>
            </div>
        </div>
    </header>
    <!-- Header section end -->

    <!-- Hero section start -->
    <section class="hero-section spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero-text">
                                <h2>Vaishnavi Gujjari</h2>
                                <p>I’m a Data Analyst.</p>
                            </div>
                            <div class="hero-info">
                                <h2>General Info</h2>
                                <ul>
                                    <li><span>Address</span>Seattle, Washington</li>
                                    <li><span>E-mail</span>vaishnavidevigujjari@gmail.com</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <figure class="hero-image">
                                <img src="../static/img/hero.jpg" alt="5">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero section end -->

    <!-- Social links section start -->
    <div class="social-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <div class="social-link-warp">
                        <div class="social-links">
                            <!-- <a href=""><i class="fa fa-pinterest"></i></a> -->
                            <a href="https://www.linkedin.com/in/vaishnavigujjari/"><i class="fa fa-linkedin"></i></a>
                            <!-- <a href=""><i class="fa fa-instagram"></i></a>
							<a href=""><i class="fa fa-facebook"></i></a>
							<a href=""><i class="fa fa-twitter"></i></a> -->
                        </div>
                        <h2 class="hidden-md hidden-sm">My Social Profiles</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Social links section end -->

    <!-- Resume section start -->
    <section class="resume-section spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-7 offset-xl-2">
                    <div class="section-title">
                        <h2>Work Experience</h2>
                    </div>
                    <ul class="resume-list">
                        <li>
                            <h2>Sureify</h2>
                            <h3>July 2020 - July 2022</h3>
                            <h4>Data Analyst</h4>
                            <p>
                                - Led a cross-functional team, achieving a remarkable 67% increase in project completion
                                rate,
                                delivering 5 major projects within a year, meeting all quality and functionality
                                requirements.
                                <br />
                                - Utilized Agile Methodology of development for requirement gathering, planning, design,
                                and
                                development and developed business models.
                                <br />
                                - Reduced software development cycle time by 35%, resulting in an average time-to-market
                                of
                                6 weeks for new product releases by implementing agile/scrum practices using JIRA
                                boards.
                                <br />
                                - Created, executed, tested complex SQL queries by performing A/B testing & Hypothesis
                                testing.
                            </p>
                        </li>
                        <li>
                            <h2>Innopark Ventures</h2>
                            <h3>March 2020 - June 2020</h3>
                            <h4>Data Analyst Intern</h4>
                            <p>
                                - Pioneered implementation of an innovative platform named rent-a-block and attained 45%
                                increase in revenue over
                                estimated projections through the development and launch of the platform.
                                <br />
                                - Led a pivotal project focused on developing a predictive model to estimate property
                                values accurately.
                                <br />
                                - Implemented Data Analysis Expressions (DAX) calculations to extract meaningful
                                insights from data.
                                <br />
                                - Validated data and data interpretations using R Statistical Software.
                            </p>
                        </li>
                        <li>
                            <h2>Amazon</h2>
                            <h3>January 2020 - June 2020</h3>
                            <h4>Data Analyst ACMS Mentee</h4>
                            <p>
                                - Created and maintained DynamoDB tables in AWS for a seasonal project.
                                <br />
                                - Extracted data from SQL database using Power BI and maintained reports using Notion.
                                <br />
                                - Achieved a 25% improvement in website loading speed through algorithm optimization
                                techniques.
                                <br />
                                - Created and presented interactive and visually appealing dashboards using Power BI and
                                Tableau.
                            </p>
                        </li>
                        <li>
                            <h2>Microsoft</h2>
                            <h3>September 2019 - April 2020</h3>
                            <h4>Microsoft Student Partner</h4>
                            <p>
                                - Facilitated GitHub, Python and JavaScript practice sessions at CBIT campus,
                                leading to a 25% increase in attendees' technical proficiency.
                                <br />
                                - Organized Microsoft Women in Tech events, leading to a 35% increase in diversity
                                initiatives within the technology sectors.
                                <br />
                                - Participated in Microsoft seminars, enhancing expertise in their programs.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Resume section end -->

    <!-- Resume section start -->
    <section class="resume-section with-bg spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-7 offset-xl-2">
                    <div class="section-title">
                        <h2>Education</h2>
                    </div>
                    <ul class="resume-list">
                        <li>
                            <h2>Masters in Computer Science</h2>
                            <h3>Arizona State University</h3>
                            <h4>August 2022 - May 2024</h4>
                            <p>
                                <b>Relevant Coursework:</b>
                                <br />
                                Data Mining, Statistical Machine Learning, Biocomputing
                                Knowledge Representation, Mobile Computing, Intro to Human-Computer Interaction
                                Information Assurance and Security, Software Verification-Validation-Testing
                                Software Design, Software Security.
                            </p>
                        </li>
                        <li>
                            <h2>Bacheors in Engineering in Information Technology</h2>
                            <h3>Chaitanya Bharathi Institute of Technology</h3>
                            <h4>August 2017 - June 2021</h4>
                            <p>
                                <b>Relevant Coursework:</b>
                                <br />
                                Python Programming, Fundamentals of Data Science
                                Data Warehousing and Data Mining, Artificial Intelligence
                                Programming and Problem Solving, Social Media Analytics
                                Big Data Analytics, Database Systems, Discrete Structures and Applications
                                Data structures and Algorithms, Design and Analysis of Algorithms.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Resume section end -->


    <!-- Review section start -->
    <section class="review-section spad pb-0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-7 offset-xl-2">
                    <div class="section-title">
                        <h2>References</h2>
                    </div>
                    <div class="review-slider owl-carousel">
                        <div class="single-review">
                            <div class="qut">“</div>
                            <p>
                                Few students have the capacity and motivation to present a unique perspective
                                while also valuing their thirst for knowledge and the intricacies of their
                                program. Vaishnavi is undeniably one of these students. She is a voracious student.
                                I recall her being a member of IEEE in January 2020. She took on the role of teaching
                                the fundamentals of programming languages and data structures to non-computer
                                science sections, and she did an outstanding job of explaining the concepts and
                                answering al of the students' queries. Vaishnavi is very consistent and timely ni
                                sending
                                her draughts. She takes a systematic approach and is not afraid to seek clarification,
                                which enhances her understanding of the rationale and concepts. Several of her questions
                                made me think, which aided my study. Curious and punctual, she has a good sense of
                                responsibility and motivation.
                            </p>
                            <h3>Sairam Utukuru</h3>
                            <h4>Assistant Professor, CBIT</h4>
                        </div>
                        <div class="single-review">
                            <div class="qut">“</div>
                            <p>
                                Vaishnavi is a multitasker. She was crucial in shaping the
                                research and the final substance of the research paper. The article
                                was uploaded to the IJRASET after being written and approved
                                (International Journal for Research in Applied Science and
                                Engineering Technology). Later, she rose to the occasion and
                                completed the paper while working on her final year major project,
                                internship, and artistic work. She performed an excellent job of
                                handling numerous things at once, as I had expected, and I saw
                                her dedication and commitment to her work.
                            </p>
                            <h3>Sirisha Alamanda</h3>
                            <h4>Assistant Professor, CBIT</h4>
                        </div>
                        <div class="single-review">
                            <div class="qut">“</div>
                            <p>
                                Vaishnavi is a fantastic leader and multi-talented team player. She is a truthful,
                                direct, and sincere student who feels that she can overcome her faults by
                                being honest with herself. I recall her initial apprehension when dealing
                                with strangers or any unknown individuals. But, over time, working on projects
                                with people from all backgrounds helped her better understand how to deal with
                                different personalities and mindsets. She is, without a question, a determined and
                                committed individual. She never shied away from seeking help and expanding her
                                knowledge curve.
                            </p>
                            <h3>Swathi Sowmya Bavirthi</h3>
                            <h4>Assistant Professor, CBIT</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Review section end -->


    <!-- Portfolio section start -->
    <section class="portfolio-section spad pb-0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-4 col-md-8 offset-xl-2 ">
                    <div class="section-title">
                        <h2>Projects</h2>
                    </div>
                </div>
            </div>
            <div class="portfolio-warp">
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="portfolio-item">
                            <a href="https://github.com/vaishnavigujjari/HousePricePrediction">
                                <img src="../static/img/portfolio/hpp.jpeg" style="width: 270px; height: 250px;"/>
                                <br />
                                <br />
                                <h3>House Price Prediction</h3>
                                <h4>Data Analysis using Python</h4>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="portfolio-item">
                            <a href="https://github.com/vaishnavigujjari/Emotion-detector-from-text-and-twitter-hashtags">
                                <img src="../static/img/portfolio/ed.jpeg" style="width: 270px; height: 250px;"/>
                                <br />
                                <br />
                                <h3>Emotion Detector</h3>
                                <h4>Text Mining using Python</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Portfolio section end -->
        <br />
        <br />
        <br />


        <!-- Resume section start -->
        <section class="resume-section with-bg spad">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-7 offset-xl-2">
                        <div class="section-title">
                            <h2>Publications</h2>
                        </div>
                        <ul class="resume-list">
                            <li>
                                <h2>iJRASET</h2>
                                <h3>Recommendations of Insurance Products based on User Behaviour</h3>
                                <h5>June 2021</h5>
                                <h4>Vaishnavi Gujjari, Sirisha Alamanda</h4>
                                <img src="../static/img/publications/1.jpeg" />
                                <br />
                                <br /> <br />
                                <p>
                                    <b>Link to the Paper: </b>
                                    <br />
                                    <a href="https://www.ijraset.com/fileserve.php?FID=35642">https://www.ijraset.com/fileserve.php?FID=35642</a>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Resume section end -->

    <!-- Resume section start -->
    <section class="resume-section spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-7 offset-xl-2">
                    <div class="section-title">
                        <h2>Certifications</h2>
                    </div>
                    <ul class="resume-list">
                        <li>
                            <h2>LinkedIn</h2>
                            <h3>March 2024</h3>
                            <h4>Agile Software Development</h4>
                            <img src="../static/img/certifications/1.jpeg" />
                        </li>
                        <li>
                            <h2>Atlassian</h2>
                            <h3>June 2022</h3>
                            <h4>Jira Fundamentals Badge</h4>
                            <img src="../static/img/certifications/2.jpeg" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Resume section end -->


    <!-- Extra section start -->
    <!-- <section class="extra-section spad pb-0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-8 offset-xl-2">
                    <div class="section-title">
                        <h2>Extra Skills</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 pt-5">
                            <div class="fact-box trans">
                                <div class="fact-content">
                                    <div class="circle-progress">
                                        <div id="progress1" class="prog-circle"></div>
                                        <div class="progress-info">
                                            <h2>75%</h2>
                                        </div>
                                        <div class="prog-title">
                                            <h3>Inspiration</h3>
                                            <p>Etiam nec odio vestibulum est.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 pt-5">
                            <div class="fact-box trans">
                                <div class="fact-content">
                                    <div class="circle-progress">
                                        <div id="progress2" class="prog-circle"></div>
                                        <div class="progress-info">
                                            <h2>83%</h2>
                                        </div>
                                        <div class="prog-title">
                                            <h3>Inspiration</h3>
                                            <p>Etiam nec odio vestibulum est.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="fact-box">
                                <div class="fact-content">
                                    <img src="../static/img/icon/1-w.png" alt="">
                                    <h2>10+</h2>
                                    <p>Project Milestones Accomplished</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="fact-box">
                                <div class="fact-content">
                                    <img src="../static/img/icon/2-w.png" alt="">
                                    <h2>5+</h2>
                                    <p>Awards Won</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- Extra section end -->

    <!-- Contact section start -->
    <section id="contact" class="contact-section spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-8 offset-xl-2">
                    <div class="section-title">
                        <h2>Let's Connect</h2>
                    </div>
                    <form action="/submit_form" method="post" class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <input name="name" type="text" placeholder="Name">
                            </div>
                            <div class="col-md-6">
                                <input name="email" type="email" placeholder="E-mail">
                            </div>
                            <div class="col-md-12">
                                <input name="subject" type="text" placeholder="Subject">
                                <textarea name="message" placeholder="Message"></textarea>
                            </div>
                        </div>
                        <div class="text-md-right">
                            <button type="submit" class="site-btn">Send message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact section end -->

    <!-- Footer section start -->
    <footer class="footer-section">
        <div class="container text-center">
            <div class="copyright">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved.</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
        </div>
    </footer>
    <!-- Footer section end -->


    <!--====== Javascripts & Jquery ======-->
    <script src="../static/javascript/jquery-2.1.4.min.js"></script>
    <script src="../static/javascript/bootstrap.min.js"></script>
    <script src="../static/javascript/owl.carousel.min.js"></script>
    <script src="../static/javascript/magnific-popup.min.js"></script>
    <script src="../static/javascript/circle-progress.min.js"></script>
    <script src="../static/javascript/main.js"></script>
</body>

</html>